{% extends 'main.html' %} {% block content %}

<h1>PROJECTS TEMPLATE</h1>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam libero
  beatae accusamus iusto voluptate amet cum? Natus repellendus quo aspernatur
  ducimus sapiente architecto maiores. Eaque rem exercitationem laudantium
  molestias voluptas?
</p>

<ul>
  {% for project in projects %}
  <li>Title: <a href="{% url 'project' project.id %}">{{ project.title }}</a></li>
  <li>Description: {{ project.description }}</li>
  </br>
  {% endfor %}
</ul>

{% endblock content %}
